.home-container {
    display: flex;
    flex-direction: column;
  }
  
  .full-image {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    
  }
  
  .full-image-img {
    width: 100%;
    height: 90vh; 
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.6);
  }
  

  .quote-section {
    flex: 1;
    padding: 20px;
    color: #042a5f; 
    text-align: left;
  }
  
  .quote {
    font-size: 1.2em;
    line-height: 1.4;
    text-align: center;
  }
  
  .heading{
    color:rgba(60, 237, 95, 0.789);
    text-decoration: solid;
  }


.left-side-text {
  position: absolute; 
  left: 30px;
  top: 60%; 
  transform: translateY(-50%); 
  color: white;
  padding: 20px;
  text-align: center; 
}